# ZSH
*.pyc
*.zwc
*.zwc.old
*.zcompdump
*.zhistory
.netrwhist
*.spl
*.add
*.bdf
*.gz
*.ttf
*.otf
__pycache__
.netrwhist
*~
*.swp
*.swo
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
packpath/shada
packpath/swap
packpath/rplugin.vim
packpath/telescope_history
tags
sessions
bin/login-with-age.sh
bin/youtube-dl
nvim/plugged
nvim/sessions
