# ZSH
*.pyc
*.zwc
*.zwc.old
*.zcompdump
*.zhistory
.netrwhist
*.spl
*.add
*.bdf
*.gz
*.ttf
*.otf
__pycache__
.netrwhist
*~
*.swp
*.swo
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
tags
sessions
plugin
bin/login-with-age.sh
bin/youtube-dl
nvim/plugged
nvim/sessions
nvim/plugin/packer_compiled.lua
nvim2/plugged
nvim2/autoload
zsh/.zcompcache/
